<h1>{{title}}</h1>
<p>Bienvenido a la aplicaci&oacute; n {{title}}</p>

<div class="container">
	<div class="row">
		<div class="col col-6">
			<div class="alert alert-succes">
				div1
			</div>
		</div>
		
	<div class="col col-6">
		<div class="alert alert-info">
			div2
		</div>
	</div>	
	</div>
</div>

//Aqui se hace un formulario para no crear otro archivo

<form action="/alta" method="POST">
	<input type="text" name="nombre">
	<input type="text" name="foto">
	<input type="submit" name="Alta">
	

</form>
